{% block subject %}
Цифровой помощник по выбору профессии
{% endblock subject %}

{% block body %}
Благодарим Вас за регистрацию на сайте {{ site_name }}! Ваша заявка на участие в акции была принята.

Напоминаем, что геймифицированный сервис «Цифровой помощник по выбору профессии» будет доступен в период с 11 апреля по 31 мая. График участия регионов будет доступен на сайте 4 апреля 2022 года.

Доступ к личному кабинету соорганизатора акции откроется 9 апреля. Ссылка для активации дополнительно поступит Вам на данный адрес электронной почты.

Если Вы не регистрировались на сайте, просто проигнорируйте это сообщение.

Пожалуйста, не отвечайте на это письмо. Если у Вас возникли вопросы, Вы всегда можете задать их нам по почте: profstories@bk.ru

С уважением, команда проекта «ProfStories»
{% endblock %}

{% block html_body %}
<html>
<p>Благодарим Вас за регистрацию на сайте {{ site_name }}! Ваша заявка на участие в акции была принята.</p>

<p>
Напоминаем, что геймифицированный сервис «Цифровой помощник по выбору профессии» будет доступен в период с 11 апреля по 31 мая. График участия регионов будет доступен на сайте 4 апреля 2022 года.

Доступ к личному кабинету соорганизатора акции откроется 9 апреля. Ссылка для активации дополнительно поступит Вам на данный адрес электронной почты.

Если Вы не регистрировались на сайте, просто проигнорируйте это сообщение.

Пожалуйста, не отвечайте на это письмо. Если у Вас возникли вопросы, Вы всегда можете задать их нам по почте: profstories@bk.ru
</p>

<p>С уважением, команда проекта «ProfStories»</p>
</html>
{% endblock html_body %}
